<template>
  <div id="app">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div class="container">
      <div class="timg">
          <img src="./assets/undraw_High_five_u364.svg">
      </div>
      <div class="content">
          <h2>PayNow</h2>
          <p>Actualiza tus pagos de cuota UGB</p>

          <form id="formulario">
            <p alt="#email">Nombre:</p>
            <input id="name" type="text" v-on:keyup.enter="enviarMail"  v-model="datos.nameUser" autocomplete="off" placeholder="Ingresa tu Nombre" required>

            <p alt="#email">Correo Electronico:</p>
            <input id="name" type="text" v-on:keyup.enter="enviarMail"  v-model="datos.mailUser" autocomplete="off" placeholder="Lo usaremos para responderte" required>

            <p alt="#number">Cantidad de Asignaturas:</p>
            <input id="number" type="number" v-on:keyup.enter="enviarMail" v-model="datos.cantidad" autocomplete="off" placeholder="N Asignaturas pagadas" required>
            
            <p alt="#date">Fecha que realizaste el pago:</p>
            <input v-on:keyup.enter="enviarMail"  v-model="datos.fecha" id="date" type="date" autocomplete="off" required>
            
            <p alt="#doc">Foto o Documento comprobante:</p>
            <input id="doc" type="file" name="" multiple>

            <br>
            <input id="myBtn" @click="enviarMail()" type="button" value="Enviar">
          </form>
      </div>

  </div>  
  </div>
</template>

<script>
export default {
      data (){
    return {
        datos: {
          nameUser: '',
          mailUser: '',
          cantidad: '',
          fecha: new Date().toISOString().substr(0, 10)
        }
      }
    },
  methods: {
      enviarMail: function(){

       

          (async () => {
            const rawResponse = await fetch('https://mail-server360.herokuapp.com/send', {
            method: 'POST',
            headers: {
              'Accept': 'application/json',
              'Content-Type': 'application/json'
            },
            body: JSON.stringify(this.datos)
          });
          const content = await rawResponse.json();
          console.log(content);
          })();
       
        }

      }
}

 
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

*{
    font-family: 'Quicksand', sans-serif;
}

#app{
  margin: auto;
}

body{
    display: flex;
    padding: 0;
    align-items: center;
    height: 100%;
}

.container{
    margin: auto;
    margin-top: 5vh;
    max-width: 1200px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.timg{
    margin: auto 10px;
}

.timg img{
    max-width: 310px;
}

.content{
    min-width: 330px;
}

.content p{
    font-weight: 600;
    margin-top: 2em;
    margin-bottom: 0px;
    color: rgb(73, 73, 73);
}

input{
    padding: 1em;
    border-radius: 3px;
    border: 0;
    background-color: #f5f5f5;
    width: 100%;
    max-width: 285px;
    margin-top: 5px;
    font-weight: 600;
}

input[type="button"]{
    background-color: #00B0FF;
    max-width: 200px;
    color: #FFF;
    margin-top: 1.5em;
    margin-bottom: 2em;
  cursor: pointer;
}

input[type="date"]{
  cursor: pointer;
}

input[type="button"]:hover,
 input[type="button"]:hover{
    background-color: #006c9e;
    color: #FFF;
}



@media only screen and (max-width: 768px) {
  body {
    flex-direction: column;
  }

  #app .container{
    flex-direction: column;
  }
}
</style>
